@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
*, :after, :before {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'lato';
  line-height: 1.4; }

h1 {
  text-align: center;
  font-weight: 700;
  font-family: 'lato';
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 24px;
  display: inline; }

header {
  text-align: center; }

h2 {
  font-family: 'lato';
  font-weight: 800;
  color: #2D3140;
  letter-spacing: 2px;
  font-size: 16px;
  margin-bottom: 12px; }

h4 {
  font-family: 'lato';
  margin-bottom: 12px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #2D3140; }

p {
  font-size: 15px;
  color: #2D3140;
  margin-bottom: 12px; }

form input, form textarea {
  font-family: 'news cycle';
  font-size: 14px;
  color: black;
  letter-spacing: 2px;
  font-weight: 300; }
  form input.placeholder, form textarea.placeholder {
    color: #4bcfa5;
    font-family: 'news cycle';
    text-transform: lowercase; }
  form input:-moz-placeholder, form textarea:-moz-placeholder {
    color: #4bcfa5;
    font-family: 'news cycle';
    text-transform: lowercase; }
  form input::-moz-placeholder, form textarea::-moz-placeholder {
    color: #4bcfa5;
    font-family: 'news cycle';
    text-transform: lowercase; }
  form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
    color: #4bcfa5;
    font-family: 'news cycle';
    text-transform: lowercase; }
  form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
    color: #4bcfa5;
    font-family: 'news cycle';
    text-transform: lowercase; }

form label {
  font-family: 'news cycle';
  text-transform: lowercase;
  color: #2D3140;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 14px; }

a {
  font-family: 'news cycle';
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: lowercase;
  line-height: 24px;
  color: #2D3140;
  cursor: pointer; }

.add-climb, .filter {
  position: absolute;
  width: 20px;
  top: 26px; }
  .add-climb img, .filter img {
    width: 100%; }
  .add-climb:hover, .filter:hover {
    opacity: .8;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.add-climb {
  right: 32px; }

.filter {
  left: 32px; }

form a {
  float: right;
  border-bottom: 2px solid;
  font-weight: bold; }
  form a a.left {
    float: left; }

.button {
  display: block;
  text-align: center;
  border: none;
  border-radius: 4px;
  background: none;
  color: #c7cbd8;
  cursor: pointer;
  width: 100%;
  background-color: #323748;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  padding: 6px 0;
  font-family: 'news cycle'; }

.content .delete {
  float: right;
  border-bottom: 2px solid #2D3140; }

body, html {
  height: 100%; }

#map {
  position: absolute;
  width: 100%; }

.leaflet-container {
  height: 100vh; }

.leaflet-bottom.leaflet-right {
  z-index: 1; }

.content {
  background: rgba(115, 218, 185, 0.75);
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 100vh;
  overflow: scroll;
  padding: 100px 32px 32px; }

.half {
  width: 50%;
  float: left;
  clear: none;
  margin-right: 0; }

.third {
  width: 33%;
  float: right; }

.two-thirds {
  width: 66%;
  float: left; }

#home .close {
  display: none; }

#show .add-x .add-climb {
  display: none; }

#show .add-x .close {
  display: block;
  position: absolute;
  right: 32px;
  top: 24px; }

#new-climb .close, #edit .close {
  display: block;
  position: absolute;
  top: 24px;
  right: 32px; }

#new-climb .add-climb, #edit .add-climb {
  display: none; }

header {
  display: block;
  position: fixed;
  z-index: 20;
  width: 100%;
  background: #2D3140;
  top: 0;
  background: #2D3140;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2D3140 0%, #222631 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, top top, top bottom, color-stop(0%, #2D3140), color-stop(100%, #222631));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2D3140 0%, #222631 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2D3140 0%, #222631 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2D3140 0%, #222631 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2D3140 0%, #222631 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }
  header .close {
    display: none; }
    header .close:hover {
      opacity: .6;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  header h1 {
    color: #fff; }
  header .subtitle {
    display: none; }
  header a {
    color: #fff; }
  header .fa {
    float: left;
    line-height: 20px;
    margin-right: 4px; }
  header .close {
    float: right; }
    header .close img {
      height: 20px;
      margin-top: 2px; }
  header .inner {
    width: 100%;
    position: relative;
    padding: 24px; }
  header .hide {
    display: none; }
    header .hide.show {
      display: block;
      height: 90vh;
      overflow: scroll;
      padding-bottom: 70px; }
      header .hide.show .inner {
        padding-bottom: 42px; }
  header .search {
    position: relative;
    background-color: #43495F; }
    header .search form {
      z-index: 20;
      position: relative; }
      header .search form input {
        width: 100%;
        border: 0;
        padding: 12px 20px;
        background-color: transparent;
        text-align: left;
        outline: none;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 4px;
        color: #2D3140;
        font-weight: bold; }
        header .search form input.placeholder {
          color: #8b93ae;
          font-family: 'news cycle';
          letter-spacing: 4px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 100; }
        header .search form input:-moz-placeholder {
          color: #8b93ae;
          font-family: 'news cycle';
          letter-spacing: 4px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 100; }
        header .search form input::-moz-placeholder {
          color: #8b93ae;
          font-family: 'news cycle';
          letter-spacing: 4px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 100; }
        header .search form input:-ms-input-placeholder {
          color: #8b93ae;
          font-family: 'news cycle';
          letter-spacing: 4px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 100; }
        header .search form input::-webkit-input-placeholder {
          color: #8b93ae;
          font-family: 'news cycle';
          letter-spacing: 4px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 100; }
        header .search form input:focus {
          -webkit-transition: 0.3s all ease;
          -moz-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          transition: 0.3s all ease;
          background: #c7cbd8; }
          header .search form input:focus.placeholder {
            color: transparent; }
          header .search form input:focus:-moz-placeholder {
            color: transparent; }
          header .search form input:focus::-moz-placeholder {
            color: transparent; }
          header .search form input:focus:-ms-input-placeholder {
            color: transparent; }
          header .search form input:focus::-webkit-input-placeholder {
            color: transparent; }
    header .search .fa {
      position: absolute;
      top: 10px;
      right: 20px;
      z-index: 10;
      color: #8b93ae; }
  header .filter-options .row label {
    color: #8b93ae;
    float: left;
    font-weight: 300; }
  header .filter-options .radio-row {
    width: auto;
    margin-left: -12px;
    margin-right: -12px; }
    header .filter-options .radio-row .radio:first-of-type label {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    header .filter-options .radio-row .radio:last-of-type label {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 0; }
    header .filter-options .radio-row .radio label {
      background: #20222D;
      display: block;
      width: 33%;
      float: left;
      padding: 8px 10px 10px;
      text-align: center;
      border-right: 2px solid #2D3140; }
      header .filter-options .radio-row .radio label:hover {
        background: #222430;
        color: #a9afc3;
        -webkit-transition: 0.3s all ease;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease;
        cursor: pointer; }
    header .filter-options .radio-row .radio input[type="radio"] {
      display: none; }
      header .filter-options .radio-row .radio input[type="radio"]:checked + label {
        background: #575f7c;
        color: #fff; }
  header .filter-options .button {
    background: transparent;
    outline: none;
    border-bottom: 2px solid;
    border-radius: 0;
    width: auto; }
    header .filter-options .button:hover {
      opacity: .6;
      -webkit-transition: 0.3s all ease;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      transition: 0.3s all ease; }

#modal {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  z-index: 10;
  box-shadow: -2px -2px 24px rgba(0, 0, 0, 0.33);
  overflow: hidden; }
  #modal h2 {
    position: absolute;
    top: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    font-size: 20px;
    padding: 12px 12px 42px;
    background: rgba(0, 0, 0, 0.7);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(45, 49, 64, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, top top, top bottom, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(45, 49, 64, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(45, 49, 64, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(45, 49, 64, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(45, 49, 64, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(45, 49, 64, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    font-weight: 300; }
  #modal #more {
    position: absolute;
    color: red;
    top: 164px;
    width: 100%;
    height: 200px;
    font-weight: bold;
    background-image: url("/images/down-arrow.png");
    background-size: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 0;
    background-position: center 161px; }
    #modal #more:hover {
      opacity: .6;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  #modal .info {
    background: #fff;
    padding: 12px 0 0; }
    #modal .info h2 {
      position: relative;
      color: #30b78c;
      background: none;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 0;
      padding-bottom: 24px; }
      #modal .info h2 span {
        text-transform: uppercase;
        font-size: 12px; }
  #modal .more {
    padding: 24px; }
    #modal .more h4 {
      display: inline;
      padding-right: 4px; }
    #modal .more .button {
      margin-top: 24px; }
    #modal .more .description {
      display: none; }
    #modal .more p:first-child::first-line {
      font-variant: small-caps;
      font-size: 15px;
      font-weight: 800;
      letter-spacing: 1px; }
  #modal .active-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-color: #eee; }
  #modal .nextImg {
    display: none; }

.weather {
  position: relative;
  width: 100%;
  overflow-y: scroll;
  height: 108px;
  background: #eee; }
  .weather .weather-inner {
    background: #eee; }
  .weather .weather-hour {
    background: #eee;
    border-bottom: 4px solid #fff;
    padding: 12px 24px; }
    .weather .weather-hour:after {
      content: "";
      display: table;
      clear: both; }

.third img {
  float: right;
  margin-top: -4px; }

.nextImg {
  background-image: url("/images/down-arrow.png");
  width: 50px;
  height: 24px;
  background-size: 40px;
  background-repeat: no-repeat;
  margin-top: 90px;
  background-position: top;
  cursor: pointer; }
  .nextImg:hover {
    opacity: .6;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .nextImg:nth-child(1) {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    float: left; }
  .nextImg:nth-child(2) {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    float: right; }

form {
  width: 100%; }
  form .row.border {
    border-bottom: 1px solid #fff; }
  form .row {
    width: 100%;
    display: block;
    margin-bottom: 12px;
    padding-bottom: 12px; }
    form .row:after {
      content: "";
      display: table;
      clear: both; }
    form .row input, form .row textarea {
      width: 100%;
      float: right;
      padding: 5px 10px;
      border: none; }
    form .row input[type='checkbox'], form .row input[type='radio'] {
      display: inline;
      width: auto;
      float: none; }
    form .row select {
      border: none;
      width: 50%;
      float: right;
      -webkit-appearance: none;
      -moz-appearance: none;
      -webkit-border-radius: 3px;
      padding: 6px;
      margin: 0;
      background: #fff;
      color: #888;
      border: none;
      outline: none;
      display: inline-block;
      appearance: none;
      cursor: pointer;
      width: 150px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      color: #2D3140;
      letter-spacing: 2px;
      font-weight: bold; }
    form .row #arrow {
      position: relative; }
    form .row #arrow:after {
      content: "\f078";
      font-family: "FontAwesome";
      font-size: 11px;
      color: #2D3140;
      line-height: 24px;
      right: 8px;
      top: 2px;
      padding: 0 0 2px;
      position: absolute;
      pointer-events: none; }
    form .row label.class {
      margin-right: 0;
      float: left; }

.image input {
  margin-bottom: 12px; }

header form .row select {
  background-color: #c7cbd8; }

header form .row label.half {
  text-align: left; }

form.edit input, form.edit textarea {
  margin-top: 10px; }

form.edit .images {
  margin: 12px 0 24px; }
  form.edit .images::after {
    content: "";
    display: table;
    clear: both; }

form.edit .left {
  float: rigth; }

.content img {
  width: 100%; }

@media (min-width: 600px) {
  #show header, #new-climb header, #edit header {
    width: 400px;
    height: auto; }
    #show header .hide, #new-climb header .hide, #edit header .hide {
      display: none; }
    #show header .close, #new-climb header .close, #edit header .close {
      display: block; }
    #show header .add-climb, #new-climb header .add-climb, #edit header .add-climb {
      display: none; }
  #new-climb .content, #edit .content {
    width: 400px; }
  .content {
    padding: 112px 32px 32px; }
  header {
    width: 350px;
    height: 100vh; }
    header .inner {
      text-align: left; }
    header .search input {
      text-align: left; }
    header .add-climb {
      position: absolute;
      right: 24px;
      font-size: 42px;
      left: auto;
      top: 16px;
      display: inline; }
      header .add-climb span.add-link {
        display: none; }
    header h3 {
      color: #fff;
      font-family: 'news cycle';
      letter-spacing: 2px;
      font-size: 14px; }
    header .subtitle {
      display: block; }
    header .filter {
      display: none; }
    header .hide {
      display: block; }
  #modal {
    padding-top: 72px;
    height: 100vh;
    width: 400px;
    overflow: scroll; }
    #modal .active-image {
      height: 300px; }
    #modal #more {
      display: none; }
    #modal .nextImg {
      margin-top: 145px;
      display: block; }
    #modal .weather {
      height: 132px; }
      #modal .weather .weather-inner {
        width: 250%; }
      #modal .weather .weather-hour {
        width: 20%;
        float: left;
        height: 132px;
        padding: 12px 20px; }
        #modal .weather .weather-hour p {
          margin-bottom: 0; }
    #modal .more .description {
      display: inline; }
    #modal p:first-child::first-line {
      font-variant: none;
      font-size: 15px;
      font-weight: 800;
      letter-spacing: 1px; } }

@media (min-width: 850px) {
  #show header {
    width: 600px; }
  header {
    width: 350px; }
  #modal {
    width: 600px; }
    #modal .weather .weather-inner {
      width: 165%; } }
