@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
*, :after, :before {
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

h1 {
  text-align: center;
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: 8px; }

a {
  text-decoration: none;
  color: #4bf4da; }

.col {
  margin-top: 200px; }

header {
  display: block;
  position: absolute;
  z-index: 20;
  width: 100%;
  background: #2D3140;
  top: 0; }
  header h1 {
    color: #fff; }
  header a {
    color: #fff; }
  header .fa {
    float: right; }
  header .inner {
    width: 100%;
    margin: 0 auto;
    padding: 20px; }
  header .filter {
    float: right; }
  header .hide {
    display: none; }
    header .hide.show {
      display: block;
      padding: 20px; }
