<div id="modal">
  <h2>{{climbData.properties.name}}</h2>
  <image-carousel ng-show="climbData.images" images="climbData.images"></image-carousel>
  <div class="info">
    <h2>{{climbData.properties.name}}<br><span>- {{climbData.properties.genLocation}} -</span></h2>

    <div id="more" ng-click="showInfo()">More!</div>
    <div class="weather" ng-repeat="weather in weatherData | limitTo:5">
      <p>time: {{weather.FCTTIME.hour > 0 && weather.FCTTIME.hour < 13 ? weather.FCTTIME.hour + ":00 AM" : (weather.FCTTIME.hour == 0) ? 12 + ":00 AM" : weather.FCTTIME.hour-12 + ":00 PM"}}</p>
      <p>{{weather.temp.english + "°F"}}</p>
      <p>humidity: {{weather.humidity + "%"}}</p>
      <p>{{weather.condition}}</p>
      <img ng-src="{{weather.icon_url}}" alt="">
    </div>
    <b>Hike Length:</b> {{climbData.properties.hikeLength}}<br>
    <b>Area Name:</b> {{climbData.properties.name}}<br><br><br>
    <b>Best For:</b> {{climbData.properties.level}}<br><br><br>
    <a href="/#/climbs/{{climbData.id}}/edit">edit</a>
  </div>
  </div>
