

<div class="content">
  <a class="delete" ng-click="deleteMarker(currentClimb.id)">Delete Area</a>
  <h2>Edit {{currentClimb.properties.name}} </button>
  </h2>
  <form ng-submit="updateArea(currentClimb)" name="submit-form" class="edit">
    <div class="row">
      <label for="areaName">Area Name</label>
      <input type="text" id='areaName' ng-model="currentClimb.properties.name" ng-value="currentClimb.properties.name">
    </div>
    <div class="row">
      <label for="genLocation">General Location</label>
      <input type="text" id='genLocation' ng-model="currentClimb.properties.genLocation" required>
    </div>
    <div class="row">
      <label for="lat">Lat</label>
      <input type="text" id='lat' ng-model="currentClimb.geometry.coordinates[1]" required>
    </div>
    <div class="row">
      <label for="long">Long</label>
      <input type="text" id='long' ng-model="currentClimb.geometry.coordinates[0]" required>
    </div>
    <div class="row">
      <label for="description">Description</label>
      <textarea id='description' ng-model="currentClimb.properties.description" rows="4" cols="50" required>{{currentClimb.properties.description}}</textarea>
    </div>
    <div class="row border">
      <label for="hike" class="left">Hike Length</label>
      <div id="arrow">
        <select id="hike" ng-model="currentClimb.properties.hikeLength" ng-init="hikeLength='currentClimb.properties.hikeLength'">
          <option value="select">select</option>
          <option value="short">short</option>
          <option value="medium">medium</option>
          <option value="long">long</option>
        </select>
      </div>
    </div>
    <div class="row border">
      <label for="size" class="left">Area Size</label>
      <div id="arrow">
        <select id="size" ng-model="currentClimb.properties.size" ng-init="climb.size='currentClimb.properties.size'">
          <option value="select">select</option>
          <option value="small">small</option>
          <option value="medium">medium</option>
          <option value="large">large</option>
        </select>
      </div>
    </div>
    <div class="row border">
      <label class="half">
        Bouldering
        <input id="bouldering" type="radio" ng-model="currentClimb.properties.type" ng-value="'bouldering'">
      </label>
      <label>
        Sport
        <input id="sport" type="radio" ng-model="currentClimb.properties.type" ng-value="'sport'">
      </label>
    </div>
    <div class="row border">
      <label class="half">
        AM Shade
        <input id="bouldering" type="radio" ng-model="currentClimb.properties.shade" ng-value="'AM'">
      </label>
      <label>
        PM Shade
        <input id="sport" type="radio" ng-model="currentClimb.properties.shade" ng-value="'PM'">
      </label>
    </div>
    <div class="row border">
      <label for="level" class="half">Climbing Level</label>
      <div id="arrow">
        <select id="level" class="left" ng-model="currentClimb.properties.level" ng-init="level='currentClimb.properties.level'">
          <option value="all">all</option>
          <option value="Beginner">beginner</option>
          <option value="intermediate">Intermediate</option>
          <option value="expert">Expert</option>
        </select>
      </div>
    </div>
    <div class="row border">
      <label for="popular">Popular Area</label>
      <input type="checkbox" id="popular" ng-model="currentClimb.properties.popular" ng-checked="currentClimb.properties.popular">
    </div>
    <div class="row border">
      <label class="images">images</label>
      <div class="images" ng-repeat="img in currentClimb.images">
        <img ng-src="{{img.url}}" alt="">
        <input type="text" ng-model="img.url" value="{{img.url}}"><a class="left" ng-click="deleteImage(img.id)">delete</a>
      </div>
      <div ng-repeat="img in imgArr" ng-show="!currentClimb.images">
        <img ng-src="{{img.url}}" alt="">
        <input type="url" ng-model="img.url" name="image" placeholder="Image URL">
      </div>
      <a ng-click="addImage()">+ Add image</a>
    </div>
    <input type="submit" class="button" value='Submit Post'>
  </form>
</div>
</div>
