<div class="content">
  <h2>Add a Climb</h2>
<form ng-submit="submit(climb)" name="submit-form">
    <div class="row">
      <input type="text" id='areaName' ng-model="climb.areaName" required placeholder="Area Name">
    </div>
    <div class="row">
      <input type="text" id='genLocation' ng-model="climb.genLocation" required placeholder="General Area">
    </div>
    <div class="row">
      <input type="text" id='lat' ng-model="climb.lat" required placeholder="Latitude">
    </div>
    <div class="row">
      <input type="text" id='long' ng-model="climb.long" required placeholder="Longitude">
    </div>
    <div class="row">
      <textarea id='description' ng-model="climb.description" rows="4" cols="50" required placeholder="Description"></textarea>
    </div>
    <div class="row border">
      <label class="half">
        Bouldering
        <input id="bouldering" type="radio" ng-model="climb.type" ng-value="'bouldering'">
      </label>
      <label class="half">
        Sport
        <input id="sport" type="radio" ng-model="climb.type" ng-value="'sport'">
      </label>
    </div>
    <div class="row border">
      <label for="hike">Hike Length</label>
      <select id="hike" ng-model="climb.hikeLength" ng-init="climb.hikeLength='select'">
        <option value="select">select</option>
        <option value="short">short</option>
        <option value="medium">medium</option>
        <option value="long">long</option>
      </select>
    </div>
    <div class="row border">
      <label for="size">Area Size</label>
      <select id="size" ng-model="climb.size" ng-init="climb.size='select'">
        <option value="select">select</option>
        <option value="small">small</option>
        <option value="medium">medium</option>
        <option value="large">large</option>
      </select>
    </div>
    <div class="row border">
      <label class="half">
        AM Shade
        <input id="bouldering" type="radio" ng-model="climb.shade" ng-value="'AM'">
      </label>
      <label class="half">
        PM Shade
        <input id="sport" type="radio" ng-model="climb.shade" ng-value="'PM'">
      </label>
    </div>
    <div class="row border">
      <label for="level">Climbing Level</label>
      <select id="level" ng-model="climb.level" ng-init="climb.level='all'">
        <option value="all">all</option>
        <option value="Beginner">beginner</option>
        <option value="intermediate">Intermediate</option>
        <option value="expert">Expert</option>
      </select>
    </div>
    <div class="row border">
      <label for="popular">Popular Area</label>
      <input type="checkbox" id="popular" ng-model="climb.popular" ng-true-value="true" ng-false-value="false">
    </div>
    <div class="row image border">
      <div ng-repeat="img in imgArr">
        <input type="url" ng-model="img.url" name="image" placeholder="Image URL">
      </div>
      <a ng-click="addImage()">+ Add another image</a>
    </div>
    <input type="submit" class="button" value='Add Climb'>
  </div>
</form>

</div>
