<form ng-submit="submit(areaName, lat, long, description, hikeLength, sport, bouldering )" name="submit-form">
  <div class="col">
    <label for="areaName">Area Name</label>
    <input type="text" id='areaName' ng-model="areaName" required>
    <label for="lat">Lat</label>
    <input type="text" id='lat' ng-model="lat" required>
    <label for="long">Long</label>
    <input type="text" id='long' ng-model="long" required>
    <label for="description">Description</label>
    <textarea id='description' ng-model="description" required></textarea>

    <select ng-model="hikeLength">
      <option value="short">short</option>
      <option value="medium">medium</option>
      <option value="long">long</option>
    </select>

    bouldering
    <input type="checkbox" ng-model="bouldering" ng-true-value="'yes'" ng-false-value="'no'">

    sport
    <input type="checkbox" ng-model="sport" ng-true-value="'yes'" ng-false-value="'no'">
    <input type="submit" id="submit" value='Submit Post'>
  </div>
</form>
