#modal {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  z-index: 10;
  box-shadow: -2px -2px 24px rgba(0, 0, 0, 0.33);
  overflow: hidden;

  h2 {
    position: absolute;
    top: 0;
    text-align: center;
    color: $white;
    width: 100%;
    font-size: 20px;
    padding: 12px 12px 42px;
    @include linearGradient(rgba($black, .7), rgba($dark, 0));
    font-weight: 300;
  }

  #more {
    position: absolute;
    color: red;
    top: 164px;
    width: 50px;
    height: 40px;
    font-weight: bold;
    background-image: url("/images/down-arrow.png");
    background-size: 40px;
    background-repeat: no-repeat;
    margin-left: 50%;
    left: -20px;
    cursor: pointer;
    &:hover {
      opacity: .6;
      @include transition(all 0.3s ease);
    }
  }

  .info {
    background: $white;
    padding: 12px 0 0;
    h2 {
      position: relative;
      color: darken($mint, 10);
      background: none;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 0;
      padding-bottom: 24px;
      span {
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
  .more {
    padding: 24px;
    h4 {
      display: inline;
      padding-right: 4px;
    }
    .button {
      margin-top: 24px;
    }
    .description {
      display: none;
    }
    p:first-child::first-line {
      font-variant: small-caps;
      font-size: 15px;
      font-weight: 800;
      letter-spacing: 1px;
    }
  }

  .active-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  .nextImg {
    display: none;
  }
}
.weather {
  width: 100%;
  overflow-y: scroll;
  height: 108px;
  .weather-hour {
    background: #eee;
    border-bottom: 4px solid $white;
    padding: 12px 24px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.third {
  img {
    float: right;
    margin-top: -4px;
  }
}

.nextImg {
  background-image: url('/images/down-arrow.png');
  width: 50px;
  height: 24px;
  background-size: 40px;
  background-repeat: no-repeat;
  margin-top: 90px;
  background-position: top;
  cursor: pointer;
  &:hover {
    opacity: .6;
    @include transition(all 0.3s ease);
  }
  &:nth-child(1) {
    @include rotate(90deg);
    float: left;
  }
  &:nth-child(2) {
    @include rotate(-90deg);
    float: right;
  }
}
