@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

body {
  font-family: 'lato';
  line-height: 1.4;
}
h1 {
  text-align: center;
  font-weight: 700;
  font-family: 'lato';
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 24px;
  display: inline;
}

header {
  text-align: center;
}

h2 {
  font-family: 'lato';
  font-weight: 800;
  color: $dark;
  letter-spacing: 2px;
  font-size: 16px;
  margin-bottom: 12px;
}

h4 {
  font-family: 'lato';
  margin-bottom: 12px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: $dark;
}

p {
  font-size: 15px;
  color: $dark;
  margin-bottom: 12px;
}


form {
  input, textarea {
    font-family: 'news cycle';
    font-size: 14px;
    color: black;
    letter-spacing: 2px;
    font-weight: 300;
    @include input-placeholder {
      color: darken( $mint, 10% );
      font-family: 'news cycle';
      text-transform: lowercase;
    }
  }
  label {
    font-family: 'news cycle';
    text-transform: lowercase;
    color: $dark;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 14px;
  }
}
