form {
  width: 100%;
  .row.border {
    border-bottom: 1px solid $white;
  }
  .row {
    width: 100%;
    display: block;
    margin-bottom: 12px;
    padding-bottom: 12px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    input, textarea {
      width: 100%;
      float: right;
      padding: 5px 10px;
      border: none;
    }
    input[type='checkbox'], input[type='radio'] {
      display: inline;
      width: auto;
      float: none;
    }
    label.left {
      float: left;
    }
    select {
      border: none;
      width: 50%;
      float: right;
      -webkit-appearance:none;
      -moz-appearance:none;
      -webkit-border-radius: 3px;
      padding: 6px;
      margin: 0;
      background: #fff;
      color:#888;
      border:none;
      outline:none;
      display: inline-block;
      appearance:none;
      cursor:pointer;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      color: $dark;
      letter-spacing: 2px;
      font-weight: bold;
    }
    #arrow {position:relative}
    #arrow:after {
        content:"\f078";
        font-family: "FontAwesome";
        font-size: 11px;
        color:$dark;
        line-height: 24px;
        right:8px;
        top:2px;
        padding:0 0 2px;
        position:absolute;
        pointer-events:none;
    }

    label.class {
      margin-right: 0;
      float: left;
    }
  }
}
  .image {
    input {
      margin-bottom: 12px;
    }
  }


header form {
  .row select {
    background-color: lighten($dark, 60);
  }
  .row label.half {
    text-align: left;
  }
}

form.edit {
  input, textarea {
    margin-top: 10px;
  }
  .images {
    margin: 12px 0 24px;
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .left {
    float: rigth;
  }
}

.content img {
  width: 100%;
}
