form {
  width: 100%;
  .row.border {
    border-bottom: 1px solid $white;
  }
  .row {
    width: 100%;
    display: block;
    margin-bottom: 12px;
    padding-bottom: 12px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    input, textarea {
      width: 100%;
      float: right;
      padding: 5px 10px;
      border: none;
    }
    input[type='checkbox'], input[type='radio'] {
      display: inline;
      width: auto;
      float: none;
    }
    select {
      border: none;
      width: 50%;
      float: right;
      margin-top: 4px;
    }
    label.class {
      margin-right: 0;
      float: left;
    }
  }
  .image {
    input {
      margin-bottom: 12px;
    }
  }
}

header form {
  .row select {
    background-color: lighten($dark, 60);
/*     outline: none;
 */  }
  .row label.half {
    text-align: left;
  }
}

form.edit {
  input, textarea {
    margin-top: 10px;
  }
  .images {
    margin: 12px 0 24px;
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .left {
    float: rigth;
  }
}

.content img {
  width: 100%;
}
