header {
  display: block;
  position: fixed;
  z-index: 20;
  width: 100%;
  background: $dark;
  h1 {
    color: $white;
  }
  top: 0;
  a {
    color: $white;
  }
  .fa {
    float: right;
  }
  .inner {
    width: 100%;
    margin: 0 auto;
    padding: 24px;
  }
  .filter {
    float: right;
  }
  .hide {
    display: none;
    &.show {
      display: block;
      padding: 20px;
    }
  }
}
