#home {
  .close {
    display: none;
  }
}

#show .add-x {
  .add-climb {
    display: none;
  }
  .close {
    display: block;
    position: absolute;
    right: 32px;
    top: 24px;
  }
}

#new-climb, #edit {
  .close {
    display: block;
    position: absolute;
    top: 24px;
    right: 32px;
  }
  .add-climb {
    display: none;
  }
}

header {
  display: block;
  position: fixed;
  z-index: 20;
  width: 100%;
  background: $dark;
  top: 0;
  .close {
    display: none;
    &:hover {
      opacity: .6;
      @include transition(all .3s ease);
    }
  }
  @include linearGradient($dark, darken($dark, 5));

  h1 {
    color: $white;
  }

  .subtitle {
    display: none;
  }

  a {
    color: $white;
  }
  .fa {
    float: left;
    line-height: 20px;
    margin-right: 4px;
  }

  .close {
    float: right;
    img {
      height: 20px;
      margin-top: 2px;
    }
  }

  .inner {
    width: 100%;
    position: relative;
    padding: 24px;
  }
  .hide {
    display: none;
    &.show {
      display: block;
      height: 90vh;
      overflow: scroll;
      padding-bottom: 70px;
      .inner {
        padding-bottom: 42px;
      }
    }
  }

  .search {
    position: relative;
    background-color: $grey;
    form {
      z-index: 20;
      input {
        width: 100%;
        border: 0;
        padding: 12px 20px;
        background-color: transparent;
        text-align: left;
        outline: none;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 4px;
        color: $dark;
        font-weight: bold;
        @include input-placeholder {
          color: lighten( $dark, 40% );
          font-family: 'news cycle';
          letter-spacing: 4px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 100;
        }
        &:focus {
          @include transition(.3s all ease);
          background: lighten($mint, 10%);
        }
      }
    }
    .fa {
      position: absolute;
      top: 10px;
      right: 20px;
      z-index: 10;
      color: lighten( $dark, 40% );
    }
  }
  .filter-options {
    .row {
      label {
        color: lighten( $dark, 40% );
        float: left;
        font-weight: 300;
      }
    }
    .button {
        background: transparent;
        outline: none;
        border-bottom: 2px solid;
        border-radius: 0;
        width: auto;
      &:hover {
        opacity: .6;
        @include transition(.3s all ease);
      }
    }
  }
}
