a {
  font-family: 'news cycle';
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: lowercase;
  line-height: 24px;
  color: $dark;
  cursor: pointer;
}

.add-climb, .filter {
  position: absolute;
  width: 20px;
  top: 26px;
  img {
    width: 100%;
  }
  &:hover {
    opacity: .8;
    @include transition(all .3s ease)
  }
}

.add-climb {
  right: 32px;
}

.filter {
  left: 32px;
}

form  a {
  float: right;
  border-bottom: 2px solid;
  font-weight: bold;
  a.left {
    float: left;
  }
}

.button {
  display: block;
  text-align: center;
  border: none;
  border-radius: 4px;
  background: none;
  color: #c7cbd8;
  cursor: pointer;
  width: 100%;
  background-color: #323748;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  padding: 6px 0;
  font-family: 'news cycle';
}

.content .delete {
  float: right;
  border-bottom: 2px solid $dark;
}
